body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
section {
  padding: 0 220px;
  background: url("../img/details-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
  justify-content: center;
  /*display: flex;*/
  align-items: center;
}
.box {
  position: relative;
  max-width: 900px;
  padding: 50px 50px 50px 50px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 25px 15px rgba(0, 0, 0, 0.9);
  height: 100%;
}
.box h2 {
  margin: 0 50 10px;
  padding: 0;
  margin-top: 100px;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.box p {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-size: 22px;
  text-align: justify;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6;
}
.para {
  text-indent: 10%;
}
.box h2 span {
  color: #f54024;
  font-weight: bold;
  font-size: 40px;
}
.social-f {
  width: 100%;
  height: 80px;
  background-color: transparent;
  padding-top: 33px;
  text-align: center;
  padding-bottom: 80px;
}
.icons {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  background-color: #0C1639;
  padding-bottom: 8px;
}
.social-f a i {
  position: relative;
  top: 31%;
}
.icons:hover {
  color: #f54024;
}
footer {
  background-color: #060c22;
}
.contact {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  color: white;
  line-height: 18px;
}
.contact span {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;

  color: #f54024;
}
.list {
  font-size: 15px;
  padding-bottom: 10px;
}

.list span {
  font-size: 20px;
  color: #f54024;
  font-weight: bold;
  padding-bottom: 10px;
  font-style: italic;
}
h3 {
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.text span {
  color: #f54024;
  font-weight: bold;
}

#header {
  height: 70px;
  padding: 25px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background-color: #060c22;
}

@media (max-width: 991px) {
  #header {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
    padding: 15px 0;
    transition: all 0.5s;
  }
}

@media (max-width: 1199px) {
  #header .container {
    max-width: 100%;
  }
}

#header.header-scrolled,
#header.header-fixed {
  background: rgba(6, 12, 34, 0.98);
  height: 70px;
  padding: 15px 0;
  transition: all 0.5s;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/*#header #logo h1 span {
  color: #fff;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}*/

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/* ----------------------- NAV MENU ------------------*/
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 991px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}

@media (max-width: 1199px) {
  .nav-menu a {
    padding: 8px 4px;
  }
}

.nav-menu .menu-active a,
.nav-menu a:hover {
  color: #fff;
}

.nav-menu > li {
  margin-left: 8px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff5e07;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  width: 100%;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 15px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 991px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(6, 12, 34, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 17px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #ff5e07;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #ff5e07;
}

#mobile-nav ul .menu-item-active {
  color: #ff5e07;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(6, 12, 34, 0.8);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
